//SIZE
$font-size-xxsmall: 0.75rem;
$font-size-xsmall: 1rem;
$font-size-small: 1.25rem;
$font-size-medium: 1.5rem;
$font-size-xmedium: 1.75rem;
$font-size-large: 2rem;
$font-size-xlarge: 2.5rem;

$font-size-list-jobs: 1.125rem;

//WEIGHT
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: bold;

//Colors
$white: #ffffff;
$gray: #7f7b81;
$orange: #f9b355;
$cyan: #3fa3ac;
$light-gray: #f8f8f8;

$line: #cbcbcb;

$color-description-card: #a0a4ad;

//SPACE

$space-medium: 1.25rem;
$space-large: 3.125rem;
