@import './mixin.scss';
@import './variables';

.container {
  padding: 0 2rem;

  p {
    margin-block: 2rem;
    text-align: center;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: $gray;
}

.line {
  width: 18.75rem;
  margin-bottom: $space-medium;
}

.dividerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: $cyan;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }
}

.info {
  background-color: $light-gray;
  padding-block: $space-large;
  margin-block: $space-large;
}

.team {
  margin-top: $space-large;

  h3 {
    text-transform: uppercase;
    color: $gray;
    text-align: center;
  }
  ul {
    display: flex;
    gap: 0.875rem;
    align-items: center;
    justify-content: center;
    margin-top: $space-large;
    flex-wrap: wrap;
  }
}

.sectionCulture {
  padding: 0 2rem;
}
.culture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.imageBottom {
  padding: 0 2rem;
  text-align: center;
  margin-block: $space-large;
  position: relative;
  width: 100%;
}

.sectionOpportunity {
  h4 {
    text-align: center;
  }
}
.opportunity {
  text-transform: uppercase;
  color: $gray;
}

.containerOpportunity {
  padding: 0 2rem;
  h5 {
    margin-top: $space-large;
  }

  ul {
    margin-block: $space-large;

    li:not(:last-child) {
      margin-bottom: $space-medium;
    }
  }
  #opportunity {
    overflow-y: scroll;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: #a0a4ad;
  }
}
