@use '../../styles/variables' as *;

$themeVariant: 'h1' $font-size-xlarge $font-weight-bold,
  'h2' $font-size-large $font-weight-bold,
  'h3' $font-size-xmedium $font-weight-bold,
  'h4' $font-size-xmedium $font-weight-bold,
  'h5' $font-size-medium $font-weight-bold,
  'p' $font-size-small $font-weight-regular;

.typography {
  @each $name, $font, $weight in $themeVariant {
    &-#{$name} {
      line-height: 1.2;
      font-size: $font;
      font-weight: $weight;
      font-family: 'Ubuntu', sans-serif;
    }
  }
}

$themeColor: 'orange' $orange, 'white' $white, 'cyan' $cyan, 'gray' $gray;

.color {
  @each $name, $color in $themeColor {
    &-#{$name} {
      color: $color;
    }
  }
}
