@import '../../styles/mixin';
@import '../../styles/variables';

.jobs {
  border: 0;
  background-color: transparent;
  display: flex;
  width: 100%;
  color: #3fa3ac;
  font-family: 'Ubuntu', sans-serif;
  font-size: $font-size-list-jobs;
  font-weight: $font-weight-medium;
  cursor: pointer;

  @include respond-to('small') {
    flex-direction: column;

    span {
      margin-left: 0;
    }
  }

  @include respond-to('medium') {
    flex-direction: row;
  }

  span {
    @include respond-to('medium') {
      margin-left: auto;
    }
    color: $gray;
  }
}
