@import '../../styles/mixin';

.container {
  padding: 0 3.125rem;
  display: flex;

  @include respond-to('small') {
    flex-direction: column;
  }

  @include respond-to('xlarge') {
    flex-direction: row;
  }
}

.mediaTitle {
  color: #7d7873;
  text-transform: uppercase;
}

.mediaSubTitle {
  color: #f9b355;
  font-style: italic;
  font-weight: 400;
}

.mediaDescription {
  text-align: justify;
  margin-top: 50px;
  color: #7f7a76;
}

.mediaImage {
  &:nth-child(2) {
    margin-top: 20px;
  }

  @include respond-to('large') {
    flex: 1;
  }
}
