@import '../../styles/mixin';
@import '../../styles/variables';

.container {
  padding: 0 3.125rem;
  display: flex;
  width: 100%;

  @include respond-to('small') {
    flex-direction: column;
  }

  @include respond-to('xlarge') {
    flex-direction: row;
    max-width: 1270px;
    margin: auto;
  }
}

.mediaTitle {
  color: $gray;
  text-transform: uppercase;
}

.mediaSubTitle {
  color: $orange;
  font-style: italic;
  font-weight: $font-weight-regular;
}

.mediaDescription {
  text-align: justify;
  margin-top: $space-large;
  color: $gray;
}

.mediaImage {
  &:nth-child(2) {
    margin-top: $space-medium;
  }

  @include respond-to('large') {
    flex: 1;
  }
}
